<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    
<head>
    <title>Ingrese sus datos</title>
    <link rel="stylesheet" href="css/Formulario_Servicios.css">
</head>
<body>
    <form th:object="${publicacion}" th:action="@{/newPublication}" method="POST">   <!--Aca tiene que ir la ruta donde esta el archivo Vista_formulario_Servicios.htm-->
        <!-- Campos del formulario -->

        <section class="form-login">
            <h1>Completa la informacion de tu servicio</h1>
        <label >Título:</label>
        <input type="text"
               th:field="*{title}" required>

        <label >Rubro:</label>
        <input type="text"
               th:field="*{rubro}" required>

        <label>Descripción:</label>
        <textarea th:field="*{description}"
                  rows="4" required></textarea>



            <!-- <label for="fotos"> Cargue sus imagenes :</label>
             <input type="file" id="fotos" th:field="*{fotos}" accept="image/*" required multiple>
              <div class="miniaturas" id="miniaturas"></div> Contenedor para mostrar las imagenes que seleccionaste en miniaturas -->

        <button type="submit">Publicar</button>
    </form>

    <!-- Área donde se mostrarán los datos de la publicación -->
    <div id="publicacionMostrada"></div>
    

    <script src="js/Formulario_Servicios.js"></script>
</body>
</html>