<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="/fragments/head :: head"></head>


    <body>
        <header>
            <nav th:replace="/fragments/nav :: nav"></nav>
        </header>
        
        <main class="bg-white pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <img src="img/avatar.png" alt="perfil" width="250" class="rounded-circle">
                    </div>
                    <div class="col-md-9">
                        <div class="form">
                            <input type="text" class="form-control mb-4" placeholder="NOMBRE" />
                            <input type="text" class="form-control mb-4" placeholder="APELLIDO" />
                            <input type="text" class="form-control mb-4" placeholder="DIRECCIÓN" />
                            <label for="formFile" class="form-label">Foto de perfil</label>
                            <input class="form-control mb-4" type="file" id="formFile">
                            <select class="form-select mb-4" aria-label="Default select example">
                                <option selected>Tipo de usuario</option>
                                <option value="1">..</option>
                            </select>



                            <button class="w-100 btn btn-success btn-lg" type="submit">ENVIAR</button>
                        </div>

                    </div>

                </div>

            </div>



        </main>

        <footer th:replace="/fragments/footer :: footer"></footer>


        <script src="js/fuction.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>


    </body>

</html>
