<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="/fragments/head :: _head"></head>


  <body>
    <header>
      <nav th:replace="/fragments/nav :: navbar"></nav>
    </header>

    <main class="main-gris pt-5">
      <div class="container">
        <div class="d-flex fles-row justify-content-between align-items-center">
          <h1>Lista de Servicios Publicados</h1>
          <a class="btn btn-outline-success" th:href="@{/user/perfil}" type="button">Volver</a>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>TITULO</th>
              <th>DESCRIPCION</th>
              <th>USUARIO</th>
              <th>IMAGEN</th>
              <th>RUBRO</th>
              <th>VER PUBLICACION</th>
              <th>ELIMINAR</th>

              </tr>
            </thead>
            <tbody th:each="publication : ${publication}" th:if="${session.usuariosession.id == publication.provider.id}">
              <tr>

                  <th scope="row" th:text="${publication.id}"></th>
                  <td th:text="${publication.title}"></td>
                  <td th:text="${publication.description}"></td>
                  <td th:if="${publication.image != null && publication.image.size() > 0}"></td>
                  <td th:text=" ${publication.provider.id}"></td>
                  <td><img th:src="@{'/imagen/' + ${publication.image[0].id}}"  alt="Imagen publicacion" class="imagen-publicacion" width="100" height="100"></td>

                  <td th:text="${publication.rubro}"></td>

                  <td><a th:href= "@{/publication/{pId} (pId=${publication.id})}"><i class="fas fa-exclamation-circle"></i> VER </a> </td>
                  <td><a th:href= "@{/publicationdel/{pubId} (pubId=${publication.id})}"><i class="fas fa-exclamation-circle"></i> ELIMINAR </a> </td>

              </tr>

            </tbody>
          </table>
      </div>
    </main>
    <footer th:replace="/fragments/footer :: _footer"></footer>
    <script src="js/fuction.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>


  </body>

</html>