<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="/fragments/head :: _head"></head>


    <body>
        <header>
            <nav th:replace="/fragments/nav :: navbar"></nav>
        </header>

        <main>

            <div class="d-flex flex-row-reverse a1 ">
                <div class="col-md-4 panel1">
                    <div class="container p-5" id="panel">
                        <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError" >
                            <div class="card-body">
                                <h5 class="card-title">Error!</h5>
                                <p class="card-text" th:text="${error}"></p>
                            </div>
                        </div>
                        <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
                            <div class="card-body">
                                <h5 class="card-title">Exito!</h5>
                                <p class="card-text" th:text="${exito}"></p>
                            </div>
                        </div>
                        <h1>Regístrate!</h1>
                        <form class="formulario" th:action="@{/newuser}" method="POST" th:object="${userEntity}" enctype="multipart/form-data" >
                            <input type="text" class="form-control mb-4"
                                   placeholder="NOMBRE"
                                   id="name"
                                   th:field="*{name}" />
                            <input type="text" class="form-control mb-4"
                                   placeholder="APELLIDO"
                                   id="lastname"
                                   th:field="*{lastName}" />

                            <input type="text" class="form-control mb-4"
                                   placeholder="DIRECCIÓN"
                                   id="address"
                                   th:field="*{address}" />

                            <input type="text" class="form-control mb-4"
                                   placeholder="TELEFONO"
                                   id="contact"
                                   th:field="*{contact}" />

                            <input type="email" class="form-control mb-4"
                                   placeholder="CORREO ELECTRÓNICO"
                                   id="email"
                                   th:field="*{email}" />


                            <input type="password" class="form-control mb-4"
                                   placeholder="CONTRASEÑA"
                                   id="password"
                                   th:field="*{password}" />

                            <input type="password" class="form-control mb-4"
                                   placeholder="VUELVA A ESCRIBIR SU CONTRASEÑA"
                                   id="confirmarContrasena"
                                   />



                            <div class="form-check mb-4">
                                <input class="form-check-input" type="checkbox" value="" id="invalidCheck3" required>
                                <label class="form-check-label" for="invalidCheck3"
                                    >
                                    He leído y acepto los <a href="#">términos y condiciones</a>
                                </label>
                            </div>


                            <label class="form-label" for="role">Seleccione su perfil:</label>
                            <select class="form-control mb-4" id="role" th:field="*{role}" >
                                <option th:value="USER" th:text="Usuario"></option>
                                <option th:value="PROVIDER" th:text="Proveedor"></option>
                            </select>
                            <label class="form-label" for="archivo">Imagen:</label>
                            <input class="form-control mb-4" type="file" id="archivo" name="archivo" accept="image/*" onchange="mostrarVistaPrevia(this);">
                            <img id="imagen-previa" src="#" alt="Vista previa de la imagen" style="max-width: 100%; max-height: 200px; display: none;">
                            <button class="w-100 btn btn-success btn-lg mb-4" type="submit" id="submitButton">ENVIAR</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <footer th:replace="/fragments/footer :: _footer"></footer>

        <script>
            const submitButton = document.getElementById('submitButton');
            const inputs = document.querySelectorAll('input[type="text"], input[type="mail"], input[type="password"]');
            const acceptCheckbox = document.getElementById('invalidCheck3');

            function mostrarAlerta(mensaje) {
                alert(mensaje);
            }

            function validarCampos() {
                let camposCompletos = true;

                inputs.forEach(input => {           // Con esto le digo que el campo apellido no es requerido si o si que lo complete
                    if (input.id !== "apellido" && !input.value.trim()) {
                        camposCompletos = false;
                        mostrarAlerta(`El campo "${input.placeholder}" está vacío. Por favor, complétalo.`);
                    }
                });

                if (!acceptCheckbox.checked) { //si completaste todos los campos y apretaste en el tilde que te deje enviar el formulario
                    camposCompletos = false;
                    mostrarAlerta('Por favor, acepta los términos y condiciones.');
                }

                return camposCompletos;
            }

            submitButton.addEventListener('click', function () {
                const camposValidos = validarCampos();

                if (camposValidos) {
                    // Muestro una alertaa de que se registro y se envio bien
                    alert('Formulario enviado con éxito.');
                }
            });
        </script>
        <script src="js/fuction.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
        <script th:inline="javascript">
    function mostrarVistaPrevia(input) {
        var imagenPrevia = document.getElementById('imagen-previa');
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                imagenPrevia.src = e.target.result;
                imagenPrevia.style.display = 'block';
            };
            reader.readAsDataURL(input.files[0]);
        } else {
            imagenPrevia.src = '#';
            imagenPrevia.style.display = 'none';
        }
    }
</script>
    </body>

</html>