<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Lista de Servicios Solicitados</title>
  <link rel="stylesheet" href="/css/LisUsu.css">
</head>
<body>
<img src="/img/logo horizontal.png" alt="Logotipo" class="logo">
<h1>Lista de Servicios Solicitados</h1>
<button class="butto">
  <span> <a class="nav-link" th:href="@{/user/perfil}">Volver</a></span>
</button>


<div class="container">
  <table class="admin-table">
    <tr>
      <th>ID</th>
      <th>PULICACION</th>
      <th>CLIENTE</th>
      <th>FECHA DE CREACION</th>
      <th>ESTADO</th>
      <th>ELIMINAR</th>
      <th>ESTADO</th>
      <th>CALIFICAR</th>
      <th>CALIFICACION</th>
      <th>COMENTARIO</th>
    </tr>

      <tr th:each="solicitud: ${solicitud}" th:if="${session.usuariosession.id == solicitud.userClient.id}">
      <td th:text="${solicitud.id}"></td>
      <td th:text="${solicitud.publication.id}"></td>
      <td th:text="${solicitud.userClient.id}"></td>
      <td th:text="${solicitud.createdOn}"></td>

      <td th:text="${solicitud.estado}"></td>
      <td><a th:href= "@{/deleteSolByUser/{solid} (solid=${solicitud.id})}"><i class="fas fa-exclamation-circle"></i> ELIMINAR </a> </td>
        <td th:if="${solicitud.completo == true}" text="${solicitud.estado}">FINALIZADO</td>
        <td><a th:if="${solicitud.completo == true && solicitud.calificado==false}" th:href= "@{/calification/{solid}/nueva (solid=${solicitud.id})}"><i class="far fa-edit"></i> CALIFICAR </a></td>
        <td th:each="score: ${score}" th:if="${solicitud.id == score.solicitud.id}" th:text="${score.puntaje}"></td>
        <td th:each="score: ${score}" th:if="${solicitud.id == score.solicitud.id}"th:unless="${score.censured}" th:text="${score.comentario}"> </td>
        <td th:each="score: ${score}" th:if="${solicitud.id == score.solicitud.id && score.censured}"> CENSURADO</td>
      </tr>

  </table>
</div>

<div class="navbar">
  <!-- Contenido de la franja Azul marino -->
</div>


</body>
</html>

