<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragments/head :: head"></head>
    <body>
        <header>
            <nav th:replace="/fragments/nav :: nav"></nav>
        </header>
        <h1>Lista de Usuarios</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo Electrónico</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.id}"></td>
                <td th:text="${usuario.name}"></td>
                <td th:text="${usuario.email}"></td>
                <td th:text="${usuario.role}"></td>
                <td>
                    <button class="btn-editar"><a th:href="@{/admin/editar/{id}(id=${usuario.id})}">Editar</a></button> 
                    <button class="btn-eliminar"><a th:href="@{/admin/eliminar/{id}(id=${usuario.id})}" onclick="return confirm('¿Estás seguro de eliminar este usuario?')">Eliminar</a></button> 
                </td>
            </tr>
        </table>
    </body>
</html>
